<h1>List of Inner Source Repositories</h1>
<mat-grid-list cols="4" rowHeight="400">
  <mat-grid-tile *ngFor="let repo of repos" [routerLink]="['/details/', repo.id]">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{repo.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{repo.image}}" alt="{{repo.name}}">
        <mat-card-content>
          <p>
            Forks: {{repo.forks}}
          </p>
        </mat-card-content>
      </mat-card>
  </mat-grid-tile>
</mat-grid-list>