<mat-card-content
  style="
    background-color: white;
    padding-top: 3%;
    padding-left: 2%;
    font-size: large;
    padding-bottom: 2%;
    border-bottom: 2px solid lightgray;
  "
>
  Ergebnisse des Crawlers als .csv exportieren:
  <a mat-raised-button download href="{{ csvExportLink }}" color="primary"
    >Download</a
  >
</mat-card-content>
<mat-card-content
  style="
    background-color: white;
    padding-top: 3%;
    padding-left: 2%;
    font-size: large;
    padding-bottom: 3%;
    border-bottom: 2px solid lightgray;
  "
>
  <div style="width: 90%">
    <canvas id="importantChecks"></canvas>
  </div>
  <div style="width: 90%">
    <canvas id="importantChecksPercentage"></canvas>
  </div>
  <div style="width: 90%">
    <canvas id="checksPerCategorie"></canvas>
  </div>
  <div style="width: 90%">
    <canvas id="checksPerCategoriePercentage"></canvas>
  </div>
</mat-card-content>
