<mat-card style="padding-bottom: 4%">
  <mat-card-content
    style="
      background-color: white;
      padding-top: 3%;
      padding-left: 2%;
      font-size: large;
      padding-bottom: 2%;
      border-bottom: 2px solid lightgray;
    "
  >
    Ergebnisse des Linters als .csv exportieren:
    <a mat-raised-button download href="{{ csvExportLink }}" color="primary"
      >Download</a
    >
  </mat-card-content>
  <mat-grid-list cols="2" rowHeight="700px" style="margin-bottom: 3%">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card-content style="width: 100%; height: 100%">
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          style="height: 100%"
        >
          <mat-card-title>{{ chartNames[0] }}</mat-card-title>
          <canvas id="importantChecks" style="height: 85%; width: 85%;"></canvas>
        </div>
      </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card-content style="width: 100%; height: 100%">
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          style="height: 100%"
        >
          <mat-card-title>{{ chartNames[1] }}</mat-card-title>
          <canvas id="importantChecksPercentage" style="height: 85%; width: 85%;"></canvas>
        </div>
      </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card-content style="width: 100%; height: 100%">
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          style="height: 100%"
        >
          <mat-card-title>{{ chartNames[2] }}</mat-card-title>
          <canvas id="checksPerCategorie" style="height: 85%; width: 85%;"></canvas>
        </div>
      </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card-content style="width: 100%; height: 100%">
        <div
          fxLayout="column"
          fxLayoutAlign="center center"
          style="height: 100%"
        >
          <mat-card-title>{{ chartNames[3] }}</mat-card-title>
          <canvas id="checksPerCategoriePercentage" style="height: 85%; width: 85%;"></canvas>
        </div>
      </mat-card-content>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
