<mat-card-content class="searchBar-mat">
  <mat-form-field
    appearance="fill"
    [hideRequiredMarker]="hideRequiredControl.value"
    [floatLabel]="floatLabelControl.value"
    style="width: 420px !important"
  >
    <mat-label>Zum Suchen eines Projektes Name eingeben </mat-label>
    <input
      [(ngModel)]="searchQuery"
      #searchbar
      matInput
      placeholder="z.B. HerbstluftWM"
      required
      (keyup)="setSearch(searchbar.value)"
    />
    <!-- FIXME Use mat-error instead of mat-hint. But formControl needs to be activated for input and i don't know how to tie it to result of Post request -->
    <!-- FIXME <mat-hint *ngIf="getIfForwardLinkWorked() == false" class="errorSearchBar">{{ errorMsgForwardLink }}</mat-hint> -->
  </mat-form-field>
  &nbsp;
</mat-card-content>
