<mat-card class="header-card">
  <mat-card-title>Insert Project Name</mat-card-title>
  <mat-card-subtitle>URL Or maybe owner?</mat-card-subtitle>
</mat-card>

<mat-grid-list class="exestenziell" cols="2" rowHeight="100px">
  <mat-grid-tile colspan="1"
      rowspan="1"
      style="background-color: darkblue;">>
   Info
  </mat-grid-tile>
  
  <mat-grid-tile colspan="1"
      rowspan="1"
      style="background-color: red;">
    Graph
  </mat-grid-tile>

  <mat-grid-tile colspan="1"
  rowspan="2"
  style="background-color: aqua;" class="checks">
  
  
  <mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        This is the expansion title
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <mat-list-item  *ngFor="let certainTest of checkResults"> 
        <div *ngIf="isExistencial(certainTest) == true">
          <h3 matLine> {{returnEmoji(certainTest)}}  {{certainTest.checkName}}</h3>
        <p matLine>
          <span> {{certainTest.result}} </span>
        </p>
        </div>

      </mat-list-item>
   </mat-nav-list>
  </mat-expansion-panel> 

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        This is the expansion title
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <mat-list-item  *ngFor="let certainTest of checkResults"> 
        <div *ngIf="isNonExistencial(certainTest) == true">
          <h3 matLine> {{returnEmoji(certainTest)}}  {{certainTest.checkName}}</h3>
        <p matLine>
          <span> {{certainTest.result}} </span>
        </p>
        </div>

      </mat-list-item>
   </mat-nav-list>
  </mat-expansion-panel> 

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        This is the expansion title
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <mat-list-item  *ngFor="let certainTest of checkResults"> 
        <div *ngIf="isInteresting(certainTest) == true">
          <h3 matLine> {{returnEmoji(certainTest)}}  {{certainTest.checkName}}</h3>
        <p matLine>
          <span> {{certainTest.result}} </span>
        </p>
        </div>

      </mat-list-item>
   </mat-nav-list>
  </mat-expansion-panel> 
</mat-accordion>

</mat-grid-tile>
<mat-grid-tile  colspan="1"
      rowspan="2"
      style="background-color: green;">
    Platzhalter
  </mat-grid-tile>
</mat-grid-list>
<mat-card class="footer">
  <mat-card-actions>
      <button mat-button (click)="closeDialog()">Close</button>
  </mat-card-actions>
</mat-card>
