.repository-card {
  width: 370px;
  height: 170px;
  margin: 20px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;

  background-color: #b3ddff;
  hyphens: auto;
  transition: all 0.25s ease-in-out;
}

.repository-card:hover {
  transform: scale(1.1);
}

mat-card-header {
  padding-right: 3em;
}

#show-dialog {
  bottom: 1.5em;
  right: 1.5em;
  position: absolute;
  background-color: #80c6ff;
}
