<mat-card class="repository-card">
  <mat-card-header>
    <mat-card-title style="text-align: left">
      {{ truncateName() }}
    </mat-card-title>
    <mat-card-subtitle style="text-align: left">
      {{ project.nameSpace }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content style="padding-left: 16px">
    {{ truncateDescription() }}
  </mat-card-content>
  <mat-card-actions>
    <a
      mat-button
      [href]="project.url"
      target="_blank"
      style="top: 1em; right: 1em; position: absolute"
    >
      <mat-icon>code</mat-icon>
    </a>
    <button id="show-dialog" mat-flat-button (click)="openDetailsDialog()">
      Anzeigen
    </button>
  </mat-card-actions>
</mat-card>
