<mat-card class="example-card">
  <mat-card-content>
    <mat-card-title style="text-align: left">
      {{ project.name }}
    </mat-card-title>

    {{ truncateDescription() }}
    <br />
    <a [href]="project.url" target="_blank">URL</a>

    <mat-toolbar-row style="bottom: 0%; position: absolute">
      <button
        mat-raised-button
        style="background-color: #80c6ff"
        (click)="showDetailsViaDialog()"
      >
        Anzeigen
      </button>
    </mat-toolbar-row>
  </mat-card-content>
</mat-card>
