<mat-card class="repository-card">
  <mat-card-header>
    <mat-card-title style="text-align: left">
      {{ projectAndTags.project.name }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content style="padding-left: 16px;">
    <p>
      {{ truncateDescription() }}
    </p>
    <p>
      <a [href]="projectAndTags.project.url" target="_blank">Link zum Repository</a>
    </p>
  </mat-card-content>
  <mat-card-actions style="bottom: 16%; left: 8%; position: absolute">
    <button 
      mat-raised-button
      (click)="openDetailsDialog()"
    >
      Anzeigen
    </button>
  </mat-card-actions>
</mat-card>
