<mat-card class="header-card">
  <mat-card-title>Inner Source Project Linter</mat-card-title>
  <mat-card-subtitle>https://gitlab.cs.fau.de/ib49uquh/amos-testz</mat-card-subtitle>
</mat-card>

<mat-card-content class="searchBar-mat">
  <mat-form-field
    appearance="fill"
    [hideRequiredMarker]="hideRequiredControl.value"
    [floatLabel]="floatLabelControl.value"
    style="width:420px !important" >
  <mat-label>Zum Analysieren bitte vollständige Repository URL eingeben</mat-label>
    <input #suchleiste matInput placeholder="https://gitlab.BEISPIEL.de/TEST/ACIDIC" required />
    <!-- Use mat-error instead of mat-hint. But formControl needs to be activated for input and i don't know how to tie it to result of Post request --> 
    <mat-hint *ngIf="getIfForwardLinkWorked() == false" class="errorSearchBar">{{errorMsgForwardLink}}</mat-hint> 
  </mat-form-field>
  &nbsp;
  <button
    mat-raised-button
    (click)="forwardLink('http://localhost:6969/api/projects', suchleiste.value); suchleiste.value = '';"
    color="primary"
  >
    Suche
  </button>
</mat-card-content>
<mat-card class="body">
  <mat-card-actions>
    <button type="button" (click)="GetProjects('http://localhost:6969/api/projects')" class="btn btn-default">
      Refresh Projects
    </button>
  </mat-card-actions>

  <div class="container">
    <br />
    <div #parent></div>
  </div>
</mat-card>

<mat-card class="footer">
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
