

<mat-card class="header-card">
    <mat-card-title >Inner Source Project Linter</mat-card-title>
    <mat-card-subtitle >Sub title</mat-card-subtitle>

</mat-card>

<mat-card-content class="searchBar-mat">
   
        <mat-form-field appearance="fill"
        [hideRequiredMarker]="hideRequiredControl.value"
        [floatLabel]="floatLabelControl.value">
      <input matInput placeholder="Please enter URL" required>
    </mat-form-field>
    &nbsp;
    <button mat-raised-button color="primary">Suche</button>


</mat-card-content>
<mat-card class="body">

  
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>

  <div class="container">
    <button type="button" 
    (click)="addComponent()"
    class="btn btn-default">Add Experience </button>
    <div #parent></div> 


   
  </div>
</mat-card>

<mat-card class="footer">

  
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

