<!-- Header-->
<mat-toolbar color="primary">
  <mat-toolbar-row style="height: 38px">
    <span
      style="
        text-align: center;
        display: inline-block;
        width: 100%;
        font-size: 32px;
      "
      >Inner Source Project Linter</span
    >
  </mat-toolbar-row>
  <mat-toolbar-row style="height: 38px">
    <p
      style="
        text-align: center;
        display: inline-block;
        width: 100%;
        font-size: 18px;
      "
    >
      Werkzeug für Inner Source Entwicklung
    </p>
  </mat-toolbar-row>
</mat-toolbar>
