<mat-card style="padding-bottom: 4%">
  <mat-card-title
    >Sortiere Projekte nach:<mat-icon
      matTooltip="Bitte wählen Sie mindestens eine Kategorie und ein Sortierkriterium"
      style="padding-left: 10px"
      color="primary"
    >
      info
    </mat-icon></mat-card-title
  >

  <div style="font-size: large">Kategorie:</div>

  <mat-card-content
    style="background-color: white; height: 5%; padding-left: 3%"
  >
    <mat-chip-list selectable multiple [formControl]="chipsControl">
      <mat-chip
        #chip="matChip"
        (click)="chip.toggleSelected(true)"
        *ngFor="let option of chipOptions"
        [value]="option"
      >
        <mat-icon *ngIf="chip.selected" color="accent">check</mat-icon>
        {{ option }}
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>

  <div style="font-size: large">Sortierkriterium:</div>
  <mat-card-content
    style="background-color: white; height: 100px; padding-left: 3%"
  >
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      [formControl]="searchCriteria"
    >
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let item of availableSearchCriteria"
        [value]="item"
      >
        {{ item }}
      </mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
  <mat-card-content
    style="
      background-color: white;
      padding-bottom: 1.5%;
      border-bottom: 2px solid lightgray;
    "
  >
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap>
      <button
        mat-raised-button
        [disabled]="
          chipsControl.value.length == 0 || searchCriteria.value.length == 0
        "
        (click)="getProjects()"
      >
        Sortieren
      </button>
      <mat-icon
        matTooltip="{{ filterInfo }}"
        style="padding-left: 10px"
        color="primary"
      >
        info
      </mat-icon>
    </div>
  </mat-card-content>

  <mat-card-content>
    <mat-paginator
      [length]="projects.totalElements"
      [pageSize]="pageSize"
      [pageSizeOptions]="[8, 25, 100]"
      (page)="updatePagination($event)">
    >
    </mat-paginator>


    <div fxLayout="row wrap" fxLayoutAlign="center end">
      <div fxLayoutAlign="center end" *ngFor="let proj of projects.content">
        <app-repository [project]="proj"></app-repository>
      </div>
    </div>
  </mat-card-content>
</mat-card>
