<mat-toolbar color="primary" style="position: fixed; bottom: 0%">
  <mat-toolbar-row style="height: 24px; padding-top: 1%">
    <span
      style="
        text-align: left;
        display: inline-block;
        width: 100%;
        font-size: 24px;
      "
      >Bei Rückfragen oder Feedback Mail an:</span
    >
    <span
      style="
        text-align: right;
        display: inline-block;
        width: 100%;
        font-size: 24px;
        padding-top: 1%;
      "
      >Powered by ACIDIC</span
    >
  </mat-toolbar-row>
  <mat-toolbar-row style="height: 18px; padding-top: 1%">
    <span
      style="
        text-align: left;
        display: inline-block;
        width: 100%;
        font-size: 24px;
      "
      >ria.inner.source@datev.com</span
    >
  </mat-toolbar-row>
</mat-toolbar>
