<mat-card class="example-card">
  <mat-card-header> </mat-card-header>
  <!img mat-card-image src="{{image}}">
  <mat-card-content (click)="showDetailsViaDialog()">
    <table style="text-align: left; margin-bottom: 20px">
      <caption>
        <mat-card-title style="text-align: left"> {{ name }}</mat-card-title>
      </caption>
      <tr>
        URL:
        {{
          gitlabInstance
        }}
      </tr>
      <tr style="text-align: center">
        <br />
      </tr>
      <tr style="text-align: center">
        <button mat-raised-button>Anzeigen</button>
      </tr>
    </table>
    <br />
  </mat-card-content>
</mat-card>
