.example-card {
   width: 500px;
    height: 300px;
    background-color: hsl(0, 60%, 32%);
    margin-right: 50px;
    margin-bottom: 50px;
    float: left;
  }
  .example-card:hover{
    transform: scale(1.2);
  }