<mat-card class="example-card"  (click)="showDetailsViaDialog()">
    <mat-card-header>

    </mat-card-header>
    <!img mat-card-image src="{{image}}">
    <mat-card-content >

      <table style="text-align: left;">
        <caption>     <mat-card-title style="text-align: left;"> {{name}}</mat-card-title></caption>
      
        <tr>
          URL:  {{gitlabInstance}}
        </tr>
     
      </table>
      <br>
      
      <button mat-raised-button (click)="showDetailsViaDialog()">Show Details</button>
    </mat-card-content>
  </mat-card>