.example-card {
   width: 500px;
    height: 300px;
    margin-right: 50px;
    margin-bottom: 50px;
    float: left;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
  }
  .example-card:hover{
    transform: scale(1.2);
  }